services:
  db:
    image: postgres:16
    container_name: weather_db
    restart: unless-stopped
    environment:
      POSTGRES_USER: weather_user
      POSTGRES_PASSWORD: weather_pass
      POSTGRES_DB: weather
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U weather_user"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
